body{
   margin:0; 
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F2937;
    display:inline-block;
  }
  
 ul li {
  float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
    font-size: 18px;
  }
  .container-left{
      float:left;
  }
  .container-right{
      float:right;
  }
  .row_nav{
      padding:10px 175px 0 175px;
      height:55px;
      background-color: #1F2937;
  }
  .flex-container{
    display: flex;
    /* flex-direction: column; */
    /* width:400px; */
    padding:20px 175px 20px 175px;
    /* background-color: grey; */
    height: 400px;
    gap: 100px;
    /* width: 350px; */
  }
  .hcontent_left{
    float:left;
    width:400px;
    
  }
  .hcontent_right{
    float:right;
    width:400px;
  }
  h1{
      font-size: 48px;
      color: white;
  }
  p{
      font-size: 18px;
      color: white;
  }
  .info-content{
    height: 500px;
    /* display:flex; */
  }
  h2{
      font-size: 36px;
      font-weight: bolder;
      text-align: center;
      padding-top: 50px;
      font-weight: bolder;
      color:#1F2937;
  }
  .flex-container-2{
    align-items: center;
    display:flex;
    justify-content: center;
    gap: 50px;
  }
  .item{
    width: 160px;
    height: 160px;
    border: 4px solid darkslategray;
    border-radius: 10px;
    margin-top: 20px;
    
  }

  .img_info1{
    height:160px;
    width:160px;
    text-align: center;
  }
  .img_info2{
    height:160px;
    width:160px;
  }
  .img_info3{
    height:160px;
    width:160px;
  }
  .img_info4{
    height:160px;
    width:160px;
  }
.info1{
  color: #1F2937;
  text-align: center;
  font-weight: bold;
}
.quote-content{
  height: 430px;
  background-color: #E5E7EB;

}
.quote{
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
  margin: 0px 200px;
  text-align: left;
  padding-top: 100px;
  font-weight:400;
  
}
.quote_author{
  color: #1F2937;
  font-style: italic;
  font-size: 25px;
  float:right;
  margin-right: 190px;
  font-weight: bold;
  margin-top: 5px;
}
.sign_up-content{
  height: 350px;
}
.footer{
  height:85px;
  background-color: black;
}